Author: [Kurnia Anwar Ra'if](https://www.linkedin.com/in/anwaraif/)

# Basic Syntax

Use `print(..)` to print something

In [ ]:
print('Hello Teman Kelas')
print('dinda')
print("okta")

Hello Teman Kelas
dinda
okta

Use `=` to do the variable assignment

In [ ]:
x=4
print (x)

4

Use `==` to do variable comparison

In [ ]:
x = 1
y = 2
ini_string = 'Kurnia'

print(x==y)
print(ini_string)

d = 4
e = 5
ini = 'delisha'

print(d)
print(d==e)
print(ini)

False
Kurnia
4
False
delisha

Use `#` for code commenting

In [ ]:
# this is a comment
# x = 1

You can easily write an if-else statement in Python.

#### conditional statement in python

In [ ]:
x = -1
if x>2:
    print('x is greater than 2')
else:
    print('x is not greater than 2')


d = 3
if d>5:
 print ('lulus')
else :
 print ('gagal')

x is not greater than 2
gagal

How about If-else if-else?

In [ ]:
x = 3
if x>5:
    print('x is greater than 5')
elif x>1 :
    print(' x is between 1 and 5')
else:
    print('x is not greater than 1')

t=8
if t>10:
 print('pintar')
elif t<5:
 print('parah')
else:
 print('rata - rata')

 x is between 1 and 5
rata - rata

In [ ]:
### Rumus Baku Conditional Statement
variable = sesuatu

#### Satu kondisi
if (kondisi):
    do something
elif (kondisi):
    do something

#### lebih dari 2 kondisi
if (variable sesuatu atau kondisi):
    do something
elif (kondisi) :
    do something
else:
    do something

SyntaxError: ignored

#### Hands-On 1
Buat program Python yang meminta pengguna memasukkan sebuah bilangan dan kemudian menentukan apakah bilangan tersebut positif, negatif, atau nol.

In [ ]:
# Meminta pengguna memasukkan sebuah bilangan
#bilangan = float(input("Masukkan sebuah bilangan: "))

# Menentukan apakah bilangan positif, negatif, atau nol
#if bilangan > 0:
#    print("Bilangan tersebut adalah bilangan positif.")
#elif bilangan < 0:
   # print("Bilangan tersebut adalah bilangan negatif.")
#else:
 #   print("Bilangan tersebut adalah nol.")

a=
if a>0:
 print("angka positif")
elif a<0:
 print("angka negatif")
else:
 print("bilangan nol")

SyntaxError: ignored

### Hands-On 2
Buat program Python yang meminta pengguna memasukkan sebuah bilangan bulat dan menentukan apakah bilangan tersebut genap atau ganjil.

In [ ]:
# Meminta pengguna memasukkan sebuah bilangan bulat
bilangan = int(input("Masukkan sebuah bilangan bulat: "))

# Menentukan apakah bilangan tersebut genap atau ganjil
if bilangan % 2 == 0:
    print(f"{bilangan} adalah bilangan genap.")
else:
    print(f"{bilangan} adalah bilangan ganjil.")

Masukkan sebuah bilangan bulat: 8
8 adalah bilangan genap.

# Data Structures & Basic Operations

## Primitive Data Structures

### Integer

Integer is a whole number, ranges from negative infinity to positive infinity

In [ ]:
x = 11
print(x)

11

In [ ]:
y = 30
print(y)

30

### Float sama dengan Desimal

Float is the decimal number or floating points number, ranges from negative infinity to positive infinity

In [ ]:
x = '1.5' #kategorikal / string
y = 2.5 #numerikal
print(y)
#pd.read_csv() -> .read_csv()

2.5

In [ ]:
y = -9.9
print(y)

-9.9

### Basic Operation with Integer and Float

There are several basic calculation you can do with the integer and float type of data, including: addition, substraction, multiplication, division, modulo, floor division, power, and absolute value.

In [ ]:
x = 7
y = 3

In [ ]:
# Substraction
print(x-y)

4

In [ ]:
# Addition
print(x+y)

10

In [ ]:
# Division
print(x/y)

2.3333333333333335

In [ ]:
# Multiplication
print(x*y)

21

In [ ]:
# Floor Division
print(x // y)
# 7/3 = 2,3333 tapi karena floor maka hasilnya 1 (dikebawahin)

1

In [ ]:
# Power / Exponentiation
print(x ** y)
print(y ** 0.5) # square root

9
1.4142135623730951

In [ ]:
# Modulo
print(x % y)
# x % y = 7 % 3 -> 2,... -> 1 (1 merupakan sisa dari pembagian 7/3 -> 2,... 7-6 = 1)

1

### Boolean

Boolean is the built-in data type than is either `True` or `False`

In [ ]:
x=False
print(x)

False

### Basic Operation with Boolean

There are several basic calculation you can do with the boolean type of data, including `or`, `and`, `not`.

In [ ]:
x = False
y = True
#true = 1
#false = 0

In [ ]:
# True and False equals to False
print(x and y)
print(y and x)

False
False

In [ ]:
# Not True equals to False
# Not False equals to True
print(not x)
# not = negasi

True

In [ ]:
# True or False equals to True
print(x or y)

True

In [ ]:
# We can also treat boolean value as 1 (True) or 0 (False)
# x = False , y=True
print(x + y)
print(x - y)
print(y - x)

1
-1
1

![image.png]()

### String

String is a collection of characters. You can write string using `'` or `"`.

In [ ]:
x = 'Kurnia123'
y = "Anwar"
print(x)
print(y)

Kurnia123
Anwar

If you want to create a multi-line string, you can use `'''` or `"""`.

In [ ]:
text = '''
    Python merupakan bahasa pemrograman yang sangat berguna untuk seorang Data Scientist
    '''
print(text)
# '''

# '''

    Python merupakan bahasa pemrograman yang sangat berguna untuk seorang Data Scientist

### Basic Calculation with String

In [ ]:
# Append 2 strings
print(x+y)

Kurnia123Anwar

In [ ]:
# Append >2 strings
print(x + ' ' + y + ' seorang data scientist dari Indonesia.')

Kurnia123 Anwar seorang data scientist dari Indonesia.

In [ ]:
# Repeat string
print(x * 4)

Kurnia123Kurnia123Kurnia123Kurnia123

In [ ]:
print(y*3)

AnwarAnwarAnwar

In [ ]:
print(x/y)
#pembagi dan pengurangan tidak  bisa dilakukan oleh string

TypeError: ignored

Link untuk belajar slicing : https://www.w3schools.com/python/python_strings_slicing.asp

![slicing%20python.jpg](attachment:slicing%20python.jpg)

In [ ]:
# Range Slicing
# Kurnia123
# x[start:end]
print(x[3:])
print(x[4:])
print(x[-3:])
print(x[-1:])
print(x[:5])

nia123
ia123
123
3
Kurni

In [ ]:
# Index Slicing
# x = Kurnia123
print(x[3] + x[-2])

n2

In [ ]:
# String Capitalizing
print(x.upper())

KURNIA123

In [ ]:
# String Lowering
print(x.lower())

kurnia123

## Non-Primitive Data Structures

### List

List is a data structure in python that can saves many different types of other items.

In [ ]:
lst_1 = ['a','b','c','d','e','f','g']
print(lst_1)

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [ ]:
lst_2 = ['b','a', 5, False, 8.7]
print(lst_2)

['b', 'a', 5, False, 8.7]

### Basic Operations with List

In [ ]:
# Appending 2 Lists
print(lst_1 + lst_2)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'b', 'a', 5, False, 8.7]

In [ ]:
# Range Slicing
print(lst_1[1:4])
print(lst_1[-3:])
print(lst_2[2:])

['b', 'c', 'd']
['e', 'f', 'g']
[5, False, 8.7]

In [ ]:
# Accessing Specific Value
print(lst_1[3])
# lst_1[indeks_ke_n]

d

In [ ]:
# Replacing Specific Value
lst_1[3] = 'z'
print(lst_1)

['a', 'b', 'c', 'z', 'e', 'f', 'g']

In [ ]:
# Replacing Ranges of Values
lst_1[3:] = ['d','e']
print(lst_1)

['a', 'b', 'c', 'd', 'e']

In [ ]:
# Appending New Value at the end of the list
lst_1.append('g')
print(lst_1)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'g']

In [ ]:
print(lst_2)

['b', 'a', 5, False, 8.7]

In [ ]:
# Reverse the List Order
print(lst_1[::-1])

['g', 'e', 'd', 'c', 'b', 'a']

In [ ]:
# Filtering Values that contained in lst_1 but not in lst_2
[x for x in lst_1 if x not in lst_2]

['c', 'd', 'e', 'f', 'g', 'g']

In [ ]:
# Checking if a value is contained in the list
'a' in lst_1

True

In [ ]:
# Join list elements into string
print(''.join(lst_1))
print(','.join(lst_1))

abcdeg
a,b,c,d,e,g

This operations actually shows us that **a string is actually a list of character**.

### Arrays

The most popular implementation of array in Python can be found in the **Numpy** package.
In programming, an "array" is a data structure used to store a collection of values or elements, typically of the same data type. These elements are stored in a specific order and are accessed based on numeric indices. The indices are used to identify the position or location of each element within the array.

Arrays have a fixed size defined at the time of creation. This means that the number of elements in the array will always remain the same, and new elements cannot be added to or removed from the array without altering the array's size.

In [ ]:
import numpy as np

In [ ]:
arr_1 = np.array([1,2,3,4,5,6])
print(arr_1)

[1 2 3 4 5 6]

What if we force it to contains different types of elements?

In [ ]:
arr_mixed_1 = np.array(['a','b',5,3])
print(arr_mixed_1)

['a' 'b' '5' '3']

It turns out, all of the elements in the array is converted into string.

In [ ]:
arr_mixed_2 = np.array([1,4,5,7,True])
print(arr_mixed_2)

[1 4 5 7 1]

In [ ]:
arr_mixed_2 = np.array([3.5,7,False])
print(arr_mixed_2)

[3.5 7.  0. ]

There's also a function from Numpy to generate a specific type of array.

In [ ]:
arr_ones = np.ones(10)
print(arr_ones)

[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]

In [ ]:
arr_zeros = np.zeros(3)
print(arr_zeros)

[0. 0. 0.]

### Basic Operations with Numpy Array

Unlike Lists, array performs the operation in the element-wise fashion. It means that the operation is performed in each of the corresponding elements index.

In [ ]:
arr_1 = np.ones(5)
print(arr_1)

arr_2 = 3 * np.ones(5)
print(arr_2)

[1. 1. 1. 1. 1.]
[3. 3. 3. 3. 3.]

In [ ]:
# Substraction
print(arr_1 - arr_2)

[-2. -2. -2. -2. -2.]

In [ ]:
# Addition
print(arr_1 + arr_2)

[4. 4. 4. 4. 4.]

In [ ]:
# Multplication
print(arr_1 * arr_2)

[3. 3. 3. 3. 3.]

In [ ]:
# Division
print(arr_1 / arr_2)

[0.33333333 0.33333333 0.33333333 0.33333333 0.33333333]

In [ ]:
# Floor Divison
print(arr_1 // arr_2)

[0. 0. 0. 0. 0.]

In [ ]:
# Modulo #ini kenapa ya ??
print(arr_1 % arr_2)

[1. 1. 1. 1. 1.]

In [ ]:
# Power / Exponentiation
print(arr_2 ** arr_2)
print(arr_2 ** 0.5) # square root

[27. 27. 27. 27. 27.]
[1.73205081 1.73205081 1.73205081 1.73205081 1.73205081]

In [ ]:
arr_3 = np.array([2,25,7,5,0.5,2.5,9,7,40])
# 0.5 , 2, 2.5 , 5 , 7 , 7, 9, 25, 40

In [ ]:
# Median over array
median_arr_3 = np.median(arr_3)
print(median_arr_3)

7.0

In [ ]:
# Average over array
avg_arr_3 = np.mean(arr_3)
print(avg_arr_3)

10.88888888888889

In [ ]:
# Maximum over array
maximum_arr_3 = np.max(arr_3)
print(maximum_arr_3)

40.0

In [ ]:
# Minimum over array
minimum_arr_3 = np.min(arr_3)
print(minimum_arr_3)

0.5

### Matrix

A matrix is basically just an array of arrays. This is a 2 dimensional arrays.

In [ ]:
mat_1 = np.array([[5,6],[7,8]])
print(mat_1)

[[5 6]
 [7 8]]

In [ ]:
print(mat_1.shape)

(2, 2)

In [ ]:
mat_2 = np.array([[9,10],[11,12]])
print(mat_2)

[[ 9 10]
 [11 12]]

In [ ]:
# Stack 2 Matrices Horizontally
np.hstack([mat_1,mat_2])

array([[ 5,  6,  9, 10],
       [ 7,  8, 11, 12]])

In [ ]:
# Stack 2 Matrices Vertically
np.vstack([mat_1,mat_2])

array([[ 5,  6],
       [ 7,  8],
       [ 9, 10],
       [11, 12]])

The basic operations for matrix can be performed similarly to the operations in arrays.

In [ ]:
# Addition of 2 Matrices
print(mat_1+mat_2)

[[14 16]
 [18 20]]

In [ ]:
# Substraction of 2 Matrices
print(mat_1 - mat_2)

[[-4 -4]
 [-4 -4]]

### Tuple

This characteristic of tuple is useful when you want to make sure that the information you have stored and will be transferred to other people can only be viewed and accessed, but the file can not be edited.

Tuple is another data structures that is similar with list. Once it is defined, you can not delete, add or edit any values inside it.

In [ ]:
tuple_1 = (3,2,1)
print(tuple_1)

(3, 2, 1)

In [ ]:
tuple_2 = 7,8,9
print(tuple_2)

(7, 8, 9)

In [ ]:
print(tuple_1[1])

2

In [ ]:
print(tuple_1 + tuple_2)

(3, 2, 1, 7, 8, 9)

In [ ]:
print(tuple_1 %  tuple_2)

TypeError: ignored

In [ ]:
tuple_1[0] = 2

TypeError: ignored

### Set

Set is another list-alike data structure. However, set contains only unique values and it is not ordered.

In [ ]:
set_1 = {1,2,3,4,4,4,4,5,5,5,6,7,8,9,9,9}
print(set_1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
set_2 = set([4,4,4,4,3,3,3,5,5,6,6,7])
print(set_2)

{3, 4, 5, 6, 7}

### Basic Operations with Set

In [ ]:
# All the elements in set_1 but not in set_2
print(set_1 - set_2)

{8, 1, 2, 9}

In [ ]:
# Elements in both set_1 and set_2 (INTERSECTION)
print(set_1 & set_2)

{3, 4, 5, 6, 7}

In [ ]:
# Elements in set_1 or set_2 or both (UNION)
print(set_1 | set_2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

### Dictionary

Dictionary is a data structure that enables us to have a direct access for specific value via the corresponding key. You can imagine this data structure just like the actual dictionary.

A dictionary contains of the `key-value` pairs. Key is responsible as the identifier on how to access the value. Here, the value can be any types of data, whether it is a list, string, integer, set, or even a dictionary.

In [ ]:
# Let say we want to create a dictionary of test scores for each of the students
score_dict = {'Bell':77,
            'John':96,
            'Shinta':83,
            'Mark':55
            }
print(score_dict)

{'Bell': 77, 'John': 96, 'Shinta': 83, 'Mark': 55}

In [ ]:
# We can access the score for each of the students via its key (name of the student)
print(score_dict['John'])
print(score_dict['Mark'])

96
55

In [ ]:
# We can add the element if there's new entry
score_dict['Shinta'] = 77
print(score_dict)

{'Bell': 77, 'John': 96, 'Shinta': 77, 'Mark': 55}

In [ ]:
# We can change the value of previous entry
score_dict['Shinta'] = 83
print(score_dict)

{'Bell': 77, 'John': 96, 'Shinta': 83, 'Mark': 55}

In [ ]:
# We can also delete a specific entry
del score_dict['Shinta']
print(score_dict)

{'Bell': 77, 'John': 96, 'Mark': 55}

In [ ]:
# We'are also able to access the sequences of our dictionary keys and values
print(score_dict.keys())
print(score_dict.values())

dict_keys(['Bell', 'John', 'Mark'])
dict_values([77, 96, 55])

### Assignment 1 :
### Tugas Indeks Nilai :
1. jika tidak ikut ujian maka printkan mahasiswa tidak lulus ujian, Jika nilai mahasiswa ada maka masukkan kedalam indeks nilai dan printkan mahasiswa ikut ujian :
Masukan nilai mahasiswa
nilai_mahasiswa = ....
2. Jika nilai mahasiswa > 80 maka indeksnya A
3. Jika nilai mahasiswa antara 70 s.d. 79 maka indeksnya B
4. Jika nilai mahasiswa antara 50 s.d. 69 maka indeksnya C
5. Jika nilai mahasiswa < 50 maka indeksnya D
### Notes : Input logic kalau nilai harus ada di rentang 0 s.d 100, jika diluar itu maka keluarkan output kalau mahasiswa tidak ikut ujian atau input tidak valid

### Assignment 2 :

1. Buatlah list integer dengan isi 9 nilai didalamnya misal : [4,5,6,7,8,9,10,11,12] (ganti dengan nilai lain). Tulislah code untuk mengeluarkan nilai list indeks ke 1,3,4,5 dan -1,-3,3: misal [5,7,8,9] kalau yang punyaku dan juga [12,10,7] kalau yang punyaku. (bisa dalam list atau angka)
2. Buatlah dictionary dengan key dengan nama depan, nama belakang, nama lengkap, tanggal pada tanggal lahir, bulan pada tanggal lahir, tahun pada tanggal lahir anda :
 ## - Notes simpan nama depan, nama belakang, nama lengkap, tanggal pada tanggal lahir, bulan lahir, tahun lahir dalam bentuk input nilai custom suatu variabelnya

### Assignment 3 :
Antrian pembelian kopi di Cafe ABCD memiliki ketentuan sebagai berikut :
1. buatlah daftar pembelian dalam dictionary berupa pelanggan, antrian, pesanan pelanggan, dan uang yang dikeluarkan pelanggan sebagai inputan
2. lalu coba tampilkan isi dari daftar pembelian tersebut
3. Kemudian totalkan juga uang yang masuk dan jumlah pelanggan

### Format Pengumpulan Tugas : NamaLengkap_DS_Sesi1_Sept.ipynb
### ex : KurniaAnwarRa'if_DS_Sesi1_Sept.ipynb

### Join Classroom : https://classroom.google.com/c/NTI0MzI2NTI3Mjcz?cjc=wqgjq6j
### Pengumpulan tugas = Absensi
# Notes Pertemuan 3 : Membahas tentang materi data structure dan memperdalam, serta jika ada kesulitan wajib untuk menanyakan secara langsung atau dibahas saat pertemuan 3.

In [ ]:
#Materi tambahan pertemuan 2 : Nested Dictionary (Dictionary bersarang)
dict_api = {
  "a" : {
    "b" : {
        'c':[0,9]
    },
  "d" : {
      'e' : [3,5]
  }
  }
}

print(dict_api['a']['d']['e'][1])

5

In [ ]:
myfamily = {
  "child1" : {
    "name" : "Emil,Kurnia,Anwar,Eka",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

child1_detail_list = myfamily["child1"]["name"]
child1_detail_list

'Emil,Kurnia,Anwar,Eka'